.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-nav{
    margin-right: auto;
}

.Logo-icon {
    height: 60px;
    margin: 10px 40px 10px 60px;
}

.nav ul{
    display: flex;
    flex-direction: row;
}



.nav ul li{
    color: aliceblue;
    list-style-type: none;
    margin: 10px 20px 10px 20px;
}

.nav ul a{
    text-decoration: none;
}


.nav ul a:hover{
   background-color: rgb(78, 78, 78);
   border-radius: 2px;
}

@media screen and (max-width: 1400px){
    .logo-nav{
        position: absolute;
        right: 0;
        top: 0;
        transition: 1.9s;
    }
}

 @media screen and (max-width: 1400px){
      .nav{
          display: none;
      }
 }

 @media screen and (max-width:1400px){
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}